# Series

In [1]:
import pandas as pd

In [3]:
s = pd.Series([1,10,7,3,79,23])
s

0     1
1    10
2     7
3     3
4    79
5    23
dtype: int64

In [4]:
s[0]

1

In [5]:
s[2:4]

2    7
3    3
dtype: int64

In [6]:
s.describe()

count     6.000000
mean     20.500000
std      29.690066
min       1.000000
25%       4.000000
50%       8.500000
75%      19.750000
max      79.000000
dtype: float64

In [7]:
s.mean()

20.5

In [8]:
s.median()

8.5

In [9]:
 s.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [10]:
s2 = pd.Series([11,5,8])

In [13]:
s = s.append(s2)
s

0     1
1    10
2     7
3     3
4    79
5    23
0    11
1     5
2     8
0    11
1     5
2     8
dtype: int64

# DataFrame

In [14]:
df = pd.DataFrame([['lucas',2983],['carrafa',980],['santos',546]])

In [17]:
df.shape

(3, 2)

In [18]:
df

         0     1
0    lucas  2983
1  carrafa   980
2   santos   546

In [19]:
df = pd.DataFrame([['lucas',2983],['carrafa',980],['santos',546]],columns=['nome','numero'])

In [20]:
df

      nome  numero
0    lucas    2983
1  carrafa     980
2   santos     546

In [22]:
df['numero']

0    2983
1     980
2     546
Name: numero, dtype: int64

In [26]:
df['nome']

0      lucas
1    carrafa
2     santos
Name: nome, dtype: object

In [27]:
df['numero'].mean()

1503.0

In [29]:
df['numero'].median()

980.0

In [30]:
df.iloc[1]

nome      carrafa
numero        980
Name: 1, dtype: object

In [31]:
df.iloc[1]['numero']

980

# Pandas Index

In [32]:
df = pd.DataFrame(
    [
        ['PE', 'Pernambuco', 'Recife'], ['RJ', 'Rio de Janeiro', 'Rio de Janeiro'],
        ['PB', 'Paraíba', 'João Pessoa'], ['SP', 'São Paulo', 'São Paulo'],
        ['MG', 'Minas Gerais', 'Belo Horizonte'], ['CE', 'Ceará', 'Fortaleza'],
        ['AC', 'Acre', 'Rio Branco'], ['MA', 'Maranhão', 'São Luís'], ['RN', 'Rio Grande do Norte', 'Natal'],
        ['PR', 'Paraná', 'Curitiba'], ['RS', 'Rio Grande do Sul', 'Porto Alegre']
    ], columns=['Sigla', 'Nome', 'Capital']
)

In [33]:
df

   Sigla                 Nome         Capital
0     PE           Pernambuco          Recife
1     RJ       Rio de Janeiro  Rio de Janeiro
2     PB              Paraíba     João Pessoa
3     SP            São Paulo       São Paulo
4     MG         Minas Gerais  Belo Horizonte
5     CE                Ceará       Fortaleza
6     AC                 Acre      Rio Branco
7     MA             Maranhão        São Luís
8     RN  Rio Grande do Norte           Natal
9     PR               Paraná        Curitiba
10    RS    Rio Grande do Sul    Porto Alegre

In [34]:
df['Sigla']

0     PE
1     RJ
2     PB
3     SP
4     MG
5     CE
6     AC
7     MA
8     RN
9     PR
10    RS
Name: Sigla, dtype: object

In [35]:
df.index

RangeIndex(start=0, stop=11, step=1)

In [38]:
df.ix[0]

c:\users\lucas\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Sigla              PE
Nome       Pernambuco
Capital        Recife
Name: 0, dtype: object

In [39]:
df.ix[:2]

c:\users\lucas\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

  Sigla            Nome         Capital
0    PE      Pernambuco          Recife
1    RJ  Rio de Janeiro  Rio de Janeiro
2    PB         Paraíba     João Pessoa

In [40]:
df.iloc[:2]

  Sigla            Nome         Capital
0    PE      Pernambuco          Recife
1    RJ  Rio de Janeiro  Rio de Janeiro

In [41]:
df.index = pd.Index([1,2,3,4,5,6,7,8,9,10,11])

In [42]:
df

   Sigla                 Nome         Capital
1     PE           Pernambuco          Recife
2     RJ       Rio de Janeiro  Rio de Janeiro
3     PB              Paraíba     João Pessoa
4     SP            São Paulo       São Paulo
5     MG         Minas Gerais  Belo Horizonte
6     CE                Ceará       Fortaleza
7     AC                 Acre      Rio Branco
8     MA             Maranhão        São Luís
9     RN  Rio Grande do Norte           Natal
10    PR               Paraná        Curitiba
11    RS    Rio Grande do Sul    Porto Alegre

In [43]:
df.index = df['Sigla']

In [44]:
df

      Sigla                 Nome         Capital
Sigla
PE       PE           Pernambuco          Recife
RJ       RJ       Rio de Janeiro  Rio de Janeiro
PB       PB              Paraíba     João Pessoa
SP       SP            São Paulo       São Paulo
MG       MG         Minas Gerais  Belo Horizonte
CE       CE                Ceará       Fortaleza
AC       AC                 Acre      Rio Branco
MA       MA             Maranhão        São Luís
RN       RN  Rio Grande do Norte           Natal
PR       PR               Paraná        Curitiba
RS       RS    Rio Grande do Sul    Porto Alegre

In [45]:
df.ix['PE']

c:\users\lucas\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Sigla              PE
Nome       Pernambuco
Capital        Recife
Name: PE, dtype: object

In [46]:
del df['Sigla']

In [47]:
df

                      Nome         Capital
Sigla
PE              Pernambuco          Recife
RJ          Rio de Janeiro  Rio de Janeiro
PB                 Paraíba     João Pessoa
SP               São Paulo       São Paulo
MG            Minas Gerais  Belo Horizonte
CE                   Ceará       Fortaleza
AC                    Acre      Rio Branco
MA                Maranhão        São Luís
RN     Rio Grande do Norte           Natal
PR                  Paraná        Curitiba
RS       Rio Grande do Sul    Porto Alegre

# Carregando Dataset's com pydataset